<div class="current_game">
  <p><%= @game.current_player.player_name %>, you are up!</p>

  <p>Current Score: <%= @game.current_player.current_score %></p>

  <% if !@game.last_roll.empty? %>
    <%= form_for @game do |f| %>
      <div class="dice_desc">You rolled:</div>
      <div class="game_dice">
        <% @game.last_roll.each_with_index do |die, i| %>
          <div class="dice">
            <% if !@bust %>
            <input id="dice_<%= i %>" name="dice_<%= i %>" type="checkbox" value="<%= die[0] %>"/>
              <% end %>
            <label for="dice_<%= i %>"><%= die[1] %></label>
          </div>
        <% end %>
      </div>
      <div class="game_buttons">
        <% if @bust %>
          <%= form_for @game do |f| %>
            <input style="display: none" id="first_roll" name="first_roll" type="checkbox" value="first_roll" checked/>
            <%= f.submit 'Awww, man!' %>
          <% end %>
        <% else %>
          <%= f.submit 'Roll' %>
          <%= f.submit 'Stay' %>
        <% end %>
    <% end %>
  <% else %>
    <%= form_for @game do |f| %>
      <input style="display: none" id="first_roll" name="first_roll" type="checkbox" value="first_roll" checked/>
      <%= f.submit 'Roll' %>
    <% end %>
    </div>
  <% end %>
</div>
