<div class="current_game">
  <p><%= @game.current_player.player_name %>, you are up!</p>

  <p>Current Score: <%= @game.current_player.current_score %></p>

  <% if @game.last_roll.any? %>
    <div class="dice_desc">You rolled:</div>
    <div class="game_dice">
      <% if @bust %>
        <%= form_for @game do |f| %>
          <% @game.last_roll.each_with_index do |die, i| %>
            <div class="dice">
              <label for="dice_<%= i %>"><%= die[1] %></label>
              <input type="hidden" name="busted" value="yes"/>
            </div>
          <% end %>
            <div class="game_buttons">
              <%= f.submit 'Awww, man!' %>
            </div>
        <% end %>
      <% else %>
        <%= form_for @game do |f| %>
          <% @game.last_roll.each_with_index do |die, i| %>
            <div class="dice">
              <input id="dice_<%= i %>" name="dice_<%= i %>" type="checkbox" value="<%= die[0] %>"/>
              <label for="dice_<%= i %>"><%= die[1] %></label>
            </div>
          <% end %>
          <div class="game_buttons">
            <%= f.submit 'Roll' %>
            <%= f.submit 'Stay' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= form_for @game do |f| %>
      <input type="hidden" name="first_roll" value="yes"/>

      <div class="game_buttons">
        <%= f.submit 'Roll' %>
      </div>
    <% end %>
  <% end %>
</div>
