<h1>TenThousand is a fun dice game!</h1>
<div>
  <h3>Select your game:</h3>
  <%= form_for :players, url: games_path do |f| %>
    <%= f.label :player_1 %>
    <%= f.text_field :player_1 %>
    <%= f.label :player_2 %>
    <%= f.text_field :player_2 %>
    <%= f.submit "Let's Play!" %>
  <% end %>
</div>

<%= render 'rules' %>
