<div class="game_container">

  <div class="total_scores">
    <% @game.players.each do |player| %>
      <p><%= player.player_name %>'s Total Score: <%= player.total_score %></p>
    <% end %>
  </div>

  <div class="current">
    <p><%= @game.current_player.player_name %>, you are up!</p>
    <p>Current Score: <%= @game.current_player.current_score %></p>
    <p>Available Dice: <%= @game.available_dice %></p>
  </div>
</div>
