<!DOCTYPE html>
<html>
<head>
  <title>TenThousand</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png"
        href="/favicon.png" />
</head>
<body>

<% if !flash.empty? %>
  <div id="welcomebox">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </div>
<% end %>

<% if current_user %>
  <nav class="right_align"><%= link_to 'Log out', login_path(current_user), :method => :delete %></nav>
<% else %>
  <nav class="right_align"><%= link_to 'Log in', new_login_path %> <%= link_to 'Register', new_user_path %></nav>
<% end %>
<div id="wrapper">
  <div id="welcomebox">
    <%= yield %>
  </div>
</div>
</body>
</html>
